trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: DockerCreds		#Variable Group to store Creds	
steps:  
- task: PowerShell@2
  displayName: Build
  inputs:
    targetType: 'inline'
    script: |
      docker build -t denny:latest .
    workingDirectory: '$(Build.SourcesDirectory)'
  
- task: PowerShell@2
  displayName: Tag
  inputs:
    targetType: 'inline'
    script: |
      docker tag denny:latest abhikataria/denn:latest
    workingDirectory: '$(Build.SourcesDirectory)'

- task: PowerShell@2
  displayName: 'Log in to Docker registry'
  inputs:
      targetType: 'inline'
      script: |
        $dockerUsername = 'abhinavkataria12345@gmail.com'
        $dockerPassword = 'Abhinavkataria12345'
        $dockerRegistry = 'docker.io:abhikataria'

        $securePassword = ConvertTo-SecureString -String $dockerPassword -AsPlainText -Force
        $credentials = New-Object -TypeName System.Management.Automation.PSCredential -ArgumentList $dockerUsername, $securePassword

        $registryName = ($dockerRegistry -split '/')[0]
        $registryPort = ($dockerRegistry -split '/')[2].Split(':')[1]
        $registryURL = "$registryName:$registryPort"

        docker login -u $credentials.UserName -p $credentials.GetNetworkCredential().Password $registryURL
- task: PowerShell@2
  displayName: Push
  inputs:
    targetType: 'inline'
    script: |
      docker push abhikataria/denn:latest
    workingDirectory: '$(Build.SourcesDirectory)'

- task: PowerShell@2
  displayName: 'Deploy to OpenShift'
  inputs:
    targetType: 'inline'
    script: |
      oc login --token=sha256~Fag0MYBnp0dBbYFbRILSVQJENyBVJnERrcvl0DXBsc4 --server=https://api.sandbox-m3.1530.p1.openshiftapps.com:6443
      oc project abhinavkataria12345-dev
      oc new-app mydummapp
      oc expose service mydummapp
    workingDirectory: '$(Build.SourcesDirectory)'
